	<footer></footer>
	</body>

	<!-- Call the RequireJS script into the footer to speed up load time -->
	<script src="js/scripts/vendor/requirejs/require.js" data-main="js/scripts/main"></script>

</html>