/*
 *	Theme: FICMi v 1.0
 *	Author: John Falcon
 *	Theme URL: http://hacemoscodigo.com
 *	Author URL: johnfalcon.me
 *	
 */

/*Login & Signup Forms*/
.login_img{display: block; margin: 1rem auto;}
.sidebar_logo{display: block; margin: 1rem auto; width: 100%; height: auto;}
.form-signin,
.form-signup{width: 420px; margin: auto;}
.form-signin input,
.form-signup input{margin: 1rem 0;}

#warning-alert{display: none;}

/*Sidebar*/
.sidebar{position: relative;}

/*Main Fluid*/
.main{position: absolute;}

/*Tables*/
.table-responsive *{ box-sizing: border-box;}
.table-striped>tbody td{border: 1px solid #CCCCCC;}

.inline-form{ width: 160px; float: right; margin: 0.2rem 0.5rem;}

.table{margin:2rem 0;}
.table>thead>tr>th{position: relative; cursor: pointer;}
.table>tbody>tr>th{position: relative; cursor: pointer;}

.glyph-absolute{display: none; position: absolute; right: 1rem; top:1.2rem; color:#FF0000; cursor:pointer;}
/*.glyph-absolute:first-of-type{display: none!important;}
*/
th:hover>a>.glyph-absolute{display: block;}
.save-absolute{position:absolute; color: #409C17;top:0.8rem; left:0.5rem; font-size:2rem; background-color:#FFF;}

#tableBody th.has_input{padding:0;}
.table_cell_input{background: none; border: none; width: 100%; height: 100%; text-indent: 5px;}

.done-btn{background: #409C17; color: #FFF; }
.done-btn:hover{background: #43AD14; color: #FFF;}