/*
 *	Theme: FICMi v 1.0
 *	Author: John Falcon
 *	Theme URL: http://hacemoscodigo.com
 *	Author URL: johnfalcon.me
 *	
 */

.login_img{display: block; margin: 1rem auto;}
.form-signin,
.form-signup{width: 420px; margin: auto;}
.form-signin input,
.form-signup input{margin: 1rem 0;}

#warning-alert{display: none;}