<form id="{{id}}" method="{{method}}" action="{{action}}" >
	<!-- Inputs will be appended here -->
	{{#values}}
		<input type="text" name="{{name}}" value="{{value}}">
	{{/values}}
	<input type="hidden" name="_METHOD" value="{{method_force}}">
	<input type="submit" name="submit" id="submit_click">
</form>