<tr>
		<th class="check"><input type="checkbox" data-delete="{{id}}" value="select_single"></th>
	{{#columns}}
		<th class="has_input generated">
			<input type="text" name="{{.}}" class="table_cell_input" value="{{.}}">
		</th>
	{{/columns}}
</tr>