	<th class="check"><input type="checkbox" data-delete="{{id}}" value="select_single"></th>
{{#columns}}

	{{#idx}}
			
		<th class="unique">
			{{id}}
			<span data-update="{{id}}" class="save-absolute glyphicon glyphicon-floppy-disk"></span>
		</th>
	{{/idx}}

	{{^idx}} 

		<th class="has_input generated">
			<input type="text" name="{{.}}" class="table_cell_input" value="{{.}}">
		</th>
	
	{{/idx}} 

{{/columns}}