<table class="table table-striped">	
	<thead>
		<tr>
			
			<th class="check"><input type="checkbox" class="disabled" value="select_all"></th>
			{{#keys}}
				<th>{{name}}</th>
			{{/keys}}
			
		</tr>
	</thead>
	<tbody id="tableBody">

		<tr>
		{{#data}}

			<th>{{first_name}}</th>

		{{/data}}
			
		</tr>

	</tbody>
</table>