<table class="table table-striped">	
	<thead>
		<tr>
			
			<th class="check"><input type="checkbox" class="disabled" value="select_all"></th>
			{{#keys}}
				<th {{#idx}}class="unique"{{/idx}}>{{.}}</th>
			{{/keys}}
			{{resetCount}}
		</tr>
	</thead>
	<tbody id="tableBody">
		{{#data_numeric}}
			<tr>
				<th class="check"><input type="checkbox" data-delete="{{id}}" value="select_single"></th>
				{{#.}}
				<th {{#idx}}class = "unique"{{/idx}}>{{.}}</th>
				{{/.}}
				{{resetCount}}
			</tr>
		{{/data_numeric}}

	</tbody>
</table>