<?php 
	include_once('gb_header.php');
	include_once('includes/tables/tableController.class.php');
?>
<table class="table table-striped">
	
	<thead>
		<tr>
			
			<th class='check'><input type='checkbox' class='disabled' value='select_all'></th>
			{{#col_names}}
				<th>{{name}}</th>
			{{/col_names}}
			
		</tr>
	</thead>
	<tbody id="tableBody">

		<tr>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
		</tr>

	</tbody>
</table>

<?php include_once('footer.php'); ?>